[Unit]
Description=Go TCP Server
After=network.target

[Service]
# даём время освободить порт
ExecStartPre=/bin/bash -c 'if lsof -i:12346 >/dev/null; then echo "Port 12346 busy, killing old process..."; fuser -k 12346/tcp; sleep 1; fi'
ExecStartPre=/bin/sleep 2

# запуск сервера
ExecStart=/root/neosync/services/tcp/bin/neosync.tcp-1.x.x-linux-amd64
WorkingDirectory=/root/neosync/services/tcp

# настройки перезапуска
Restart=always
RestartSec=5s
TimeoutStopSec=10s
KillMode=process
KillSignal=SIGINT

User=root
Group=root
LimitNOFILE=1048576
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
