#button
	width: 100%
	height: 2.8rem

	padding: 0 1.5rem

	text-transform: uppercase
	font-weight: 400
	font-size: 0.9rem
	color: #1c1e22

	border-radius: 3px
	background-color: #E8EDF5

	background-position: center
	transition: background 0.3s

#button:hover
	border-radius: 3px
	background-image: radial-gradient(circle, transparent 1%, #E8EDF5 1%)
	background-position: center
	background-size: 15000%

#button:active
	border-radius: 3px
	transition: background 0s
	background-color: #ffffff
	background-size: 100%

#buttonhlp
	display: flex
	align-items: center

	gap: 0.5rem

	width: auto
	height: 2.5rem

	padding: 0 0.7rem

	color: #62666d

	box-shadow: 0 0 7px rgba(0, 0, 0, 0.08)

	cursor: pointer

	border: 1px solid #e4e4e4
	border-radius: 6px
	background-color: #fff

	background-position: center
	transition: background 0.4s

#buttonhlp:hover
	background-color: #f7f7f7
	background-image: radial-gradient(circle, transparent 1%, #fff 1%)
	background-position: center
	background-size: 15000%

#buttonhlp:active
	transition: background 0s
	background-color: #eee
	background-size: 100%
