// TABLE STYLING

#table-n
	min-width: 0px !important

#input__search__table
	min-width: calc(35vw - 74px)

#table
	border-collapse: collapse
	border: none
	font-size: 0.9em
	width: 100%
	background: #fff

	thead
		tr
			color: #49525f
			text-align: center
			border-bottom: 1px solid #dbdbdb

		th
			font-weight: 500
			height: 70px

	th,
	td
		padding: 9px 13px
		font-size: 13px

	tbody
		tr
			text-align: center
			border-bottom: 1px solid #e9e9e9
			height: 3.4rem
			cursor: pointer

		&:hover
			transition: 0.07s

#unique_right
	display: flex
	justify-content: flex
	align-items: center
	gap: 0.5rem

#column-left
	text-align: center
