DB_ADDR="postgres://postgres:password@localhost:5432/db?sslmode=disable"

# Переменные окружения
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

SUPER_SECRET_KEY=
IV=

GO_ENV=DEV # PROD
