# База данных
DB_ADDR="postgres://postgres:password@host.docker.internal:5432/neosync?sslmode=disable"

# System
SUPER_SECRET_KEY=
IV=

TRUSTED_PROXIES="127.0.0.1"

# Yandex верификация
YANDEX_SMARTCAPTCHA_SECRET_KEY=

# Mail
SMTP_EMAIL=
SMTP_ADDR=
SMTP_PORT=
SMTP_EMAIL_PASSWORD=
SMTP_PASSWORD=
CLIENT_URL="http://localhost:5173"

# RabbitMq
RABBITMQ_HOST="rabbitmq:5672"
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"

# Redis
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_PASSWORD="red1spa55"

# Секрет для генерации и проверки PoW
POW_DDOS_DIFFICULTY=
POW_DDOS_SECRET=

# Директория хранения логов
LOG_DIR="./logs"

# Подробный RX/TX packet trace. В PROD держать выключенным, включать временно для диагностики.
LOG_PACKET_TRACE=false

GO_ENV=DEV # PROD
