@media only screen and (max-width: 1600px) {
	#signin__resize__width {
		width: 100vw;
		margin-left: 9vw;
	}

	#device__command__content {
		margin-top: 5rem;
		gap: 0;
	}

	#device__command__content__main {
		align-items: center !important;
		min-width: 100vw;
		max-width: 100vw;
	}

	#command__block__neomatica {
		width: calc(100.38vw - 50px);
	}
}

@media only screen and (max-width: 1450px) {
	#side__bar__neomatica {
		display: none;
	}

	#button__menu__neomatica {
		display: block;
	}
}
