/* TOASTIFY */
.Toastify__toast-container
	width: auto

.Toastify__toast
	display: flex
	align-items: center
	justify-content: space-between
	width: fit-content
	max-width: 100%
	white-space: normal
	word-wrap: break-word
	// padding-top: 1.7rem
	// padding-bottom: 1.3rem
	padding: 1.8rem
	padding-right: 3.3rem

.Toastify__close-button
	display: flex
	justify-content: end
	color: #999
	font-size: 1.2rem
	top: 8px
	transition: color 0.2s ease
	right: 8px

.Toastify__close-button--light
	opacity: 1

.Toastify__close-button:hover
	background: transparent
	color: #555

.Toastify__toast-theme--light, .Toastify__toast-theme--colored.Toastify__toast--default
	border-radius: 6px
	overflow-x: auto

#martiana
	font-family: 'Martian Mono', monospace
